
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.layuicdn.com/layer/layer.js"></script>
    <title>@ViewBag.Title</title>
    <script>
        var BDUSS = "";
        var STOKEN = "";
        var USERNAME = "";
        $(function () {
            //获取BDUSS
            $("#getbduss_btn").click(function () {
              $.ajax({
                url: "/api/tieba/CheckScanIsSuccess",
                type: "get",
                dataType: "json",
                data: { sign:"@ViewBag.Sign"},
                success: function (data) {
                    BDUSS = data["bduss"];
                    STOKEN = data["stoken"];
                    USERNAME = data["username"];
                    $("#account-info").show();
                    var firstHtml = $("#account-info").html();
                    var lastHtml = firstHtml.replace(/{{USERNAME}}/g, USERNAME);
                    lastHtml = lastHtml.replace(/{{BDUSS}}/g, BDUSS);
                    lastHtml = lastHtml.replace(/{{STOKEN}}/g, STOKEN);
                    $("#account-info").html(lastHtml);
                }
            });
            });

          //一键签到
        });

        function signinFunc() {
            layer.msg("耐心等待，成功会提示！");
            $.ajax({
                url: "/api/tieba/SignIn",
                type: "get",
                dataType: "json",
                data: { STOKEN: STOKEN, BDUSS: BDUSS },
                success: function (data) {
                    alert("签到成功，可能会有漏签，一段时间再来！");
                }
            });
        }
    </script>
</head>

<body>
    <div class="container col-xs-12 col-sm-10 col-md-8 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">熊沐风贴吧签到助手</h5>
            </div>
            <div class="card-body text-center">
                <p><img src="https://@ViewBag.Qrcode" /></p>
                <p><input type="button" id="getbduss_btn" class="btn btn-info btn-lg" value="扫码以后再点击"></p>
                <div id="account-info" style="display:none">
                    <h4 class="badge badge-primary">百度名称：{{USERNAME}}</h4><br />
                    <h4 class="badge badge-danger">STOKEN：{{STOKEN}}</h4><br />
                    <textarea class="form-control m-auto" style="height:150px;width:80%">BDUSS：{{BDUSS}}</textarea>
                    <input type="button" onclick="signinFunc()" class="mt-3 btn btn-danger" value="一键签到" />
                </div>

            </div>
        </div>
    </div>
</body>
</html>
